* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", sans-serif;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: green;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.game-board {
    background-color: black;
    width: 100%;
    height: 70%;
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(38, 20px); 
    grid-template-rows: repeat(13, 40px);
}

.cursor {
    width: 20px;
    height: 40px;
    background-color: red;
}

.target {
    color: aliceblue;
    margin: 0;
    font-size: 20px;
    margin: auto;
    font-weight: bold;
    display: flex;
}

.navbar {
  width: 100%;
  max-width: 100%;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  flex-wrap: wrap;
}

.nav-link {
  font-size: 1.2rem;
  color: blue;
}

@media screen and (max-width: 600px) {
    .game-board {
        grid-template-rows: repeat(13, 40px);
        grid-template-columns: repeat(38, 11.5px);
    }
}